<div *ngIf="trip">
  <div class="flex justify-between items-center mb-6">
    <div>
      <div class="flex items-center gap-2">
        <div [routerLink]="['../']">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-12 cursor-pointer" >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier"> 
              <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#253C59" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
            </g>
          </svg>
        </div>
        <h1 class="text-3xl font-bold text-[#253C59] mb-2">{{ trip.title }}</h1>
      </div>
      <p class="text-xl text-[#253C59] mb-2">{{ trip.description }}</p>
      <div class="flex flex-col gap-1 text-[#253C59] text-base">
        <div>
          <span class="font-semibold text-xl">Data de Chegada:</span>
          {{ trip.startDate }}
        </div>
        <div>
          <span class="font-semibold text-xl">Data de Saída:</span>
          {{ trip.endDate }}
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-end gap-2">
      <div class="flex flex-row gap-2">
        <button class="btn btn-primary flex justify-center" (click)="openUpdateTripModal()">
          Editar
        </button>
        <button class="btn btn-primary flex justify-center" (click)="deleteTrip()">
          Excluir
        </button>
      </div>
      <button class="btn btn-primary btn-outline text-lg flex justify-center" [routerLink]="['schedule']">
        Roteiros
      </button>
    </div>
  </div>

  <div class="flex gap-4 mb-10">

    <div class="w-[30%] bg-white rounded-2xl shadow flex flex-col p-6 gap-2 h-[370px] min-h-[370px] max-h-[370px]">
      <h3 class="text-xl font-semibold text-[#253C59] mb-3">Checkitems</h3>

      <form (ngSubmit)="createCheckItem()" class="flex items-center gap-2 mb-2">
        <label class="input bg-white">
          <input type="search" [(ngModel)]="newCheckItemDescription" name="newCheckItemDescription"
          class="grow text-[#253C59] placeholder:text-[#253C59]" placeholder="Adicione uma Tarefa" 
          required autocomplete="off" maxlength="80"/>
        </label>
        <button type="submit" class="btn btn-primary px-6 py-2" [disabled]="!newCheckItemDescription.trim()">
          Adicionar
        </button>
      </form>
 
      <div class="flex flex-col gap-1 overflow-y-auto max-h-[220px] pr-1">
        <div *ngFor="let item of checkItems" class="flex items-center gap-2 group">
          <label class="flex items-center cursor-pointer">
            <input type="checkbox" class="form-checkbox w-5 h-5 rounded-full accent-[#FEA189] transition"
              [checked]="item.isChecked" (change)="toggleCheckItem(item)" />
          </label>
          <span class="flex-1 text-md font-medium text-[#253C59] transition"
            [ngClass]="{'line-through text-gray-400': item.isChecked}">
            {{ item.description }}
          </span>
          <button type="button"
            class="text-gray-400 hover:text-red-500 ml-2 opacity-0 group-hover:opacity-100 transition"
            (click)="deleteCheckItem(item)" title="Excluir">
            ✕
          </button>
        </div>
      </div>
    </div>

    <!-- Card 70% - Mapa -->
    <div class="w-[70%] bg-white rounded-xl shadow p-4 flex flex-col">
      <h3 class="text-xl font-semibold text-[#253C59] mb-2">Mapa da Viagem</h3>
      <div class="flex-1 h-[260px] relative rounded-xl overflow-hidden shadow">
        <app-trip-map [schedules]="schedules"></app-trip-map>
      </div>
    </div>
  </div>

  <!-- Carrossel de Fotos -->
  <div class="mt-12">
    <div class="flex items-center justify-between mb-4">
      <h2 class="text-2xl font-semibold text-[#253C59]">Fotos da Viagem</h2>
      <button class="btn btn-primary flex items-center gap-2" (click)="openUploadModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
        </svg>
        Enviar foto
      </button>
    </div>

    <div *ngIf="tripMedias?.length; else noPhotos">
      <div class="flex gap-4 pb-2">
        <div *ngFor="let media of tripMedias"
          class="relative">

            <div class="w-[220px] rounded-xl shadow bg-white flex flex-col items-center">
              <img [src]="'data:image/jpeg;base64,' + media.media" alt="Foto da viagem"
                          class="w-full h-[150px] object-cover rounded-t-xl" />
              <p class="text-md font-semibold text-center text-[#253C59]">{{ media.description }}</p>
            </div>

            <button class="btn btn-circle btn-primary absolute -bottom-3 -right-3" (click)="deleteTripMedia(media.id)">
              <svg fill="#ffffff" viewBox="-3.5 0 19 19" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg w-2/3">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z"></path>
                </g>
              </svg>
            </button>

        </div>
      </div>
    </div>
    <ng-template #noPhotos>
      <p class="text-[#253C59] text-base opacity-70">Nenhuma foto enviada ainda.</p>
    </ng-template>
  </div>

  <!-- Modal para edição -->
  <dialog id="edit_trip_modal" class="modal">
    <div class="modal-box">
      <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        (click)="closeUpdateTripModal()">
        ✕
      </button>
      <h3 class="text-xl font-bold text-[#253C59] mb-2">Edite sua viagem</h3>
      <form [formGroup]="formTrip" (ngSubmit)="updateTrip()">
        <fieldset class="fieldset flex flex-col justify-start w-full my-1">
          <legend class="fieldset-legend text-base text-[#253C59]">Título</legend>
          <input type="text" formControlName="title" maxlength="30"
            class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" placeholder="Digite um título" />
        </fieldset>
        <fieldset class="fieldset flex flex-col justify-start w-full my-1">
          <legend class="fieldset-legend text-base text-[#253C59]">Descrição</legend>
          <input type="text" formControlName="description" maxlength="120"
            class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" placeholder="Digite uma descrição" />
        </fieldset>
        <fieldset class="fieldset flex flex-col justify-start w-full my-1">
          <legend class="fieldset-legend text-base text-[#253C59]">Data de Chegada</legend>
          <input type="date" formControlName="startDate"
            class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" />
        </fieldset>
        <fieldset class="fieldset flex flex-col justify-start w-full my-1">
          <legend class="fieldset-legend text-base text-[#253C59]">Data de Saída</legend>
          <input type="date" formControlName="endDate"
            class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" />
        </fieldset>
        <button class="btn btn-primary px-6 font-medium text-lg w-full mt-4" type="submit"
          [disabled]="formTrip.invalid || formTrip.pristine">
          Enviar
        </button>
      </form>
    </div>
  </dialog>

  <!-- Modal Upload -->
  <dialog id="upload_photo_modal" class="modal">
    <div class="modal-box flex flex-col items-center justify-between">
      <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeUploadModal()">
        ✕
      </button>
      <h3 class="text-xl font-bold text-[#253C59] mb-4">Enviar Foto</h3>
      <input type="file" accept="image/*" class="file-input file-input-primary mb-4" 
      (change)="onFileSelected($event)" [disabled]="uploading"/>

      <input type="text" maxlength="30" [(ngModel)]="uploadDescription" name="description" [disabled]="uploading" required maxlength="120" 
      class="input w-full bg-white placeholder-[#253C59] text-[#253C59] mb-4" placeholder="Informe a Descrição da Foto" />

      <!-- Preview da foto, opcional -->
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview"
        class="w-[200px] h-[140px] object-cover rounded-xl mb-2 border" />

      <button class="btn btn-primary w-full" [disabled]="!selectedFile || !uploadDescription || uploading"
        (click)="createTripMedia()">
        Enviar
      </button>
      <div *ngIf="uploading" class="text-[#253C59] mt-2">Enviando foto...</div>
    </div>
  </dialog>

</div>