<aside class="h-screen w-[20%] bg-secondary fixed inset-y-0 left-0 p-8 flex flex-col justify-between">

    <div>
        <div class="flex justify-center">
            <img src="assets/trekia-white-logo.png" alt="trekia-white-logo" class="w-40">
        </div>
    
        <div>
            <hr class="text-white my-4">
            <div class="flex items-center gap-4 mb-4">
                <img src="assets/avatar-home-22.png" alt="avatar-home-22" class="rounded-full w-16">
                <div>
                  <p class="text-white text-lg font-medium">Lucas Azevedo</p>
                  <p class="text-white opacity-75 text-sm font-medium">lucas_azevedo&commat;gmail.com</p>
                </div>
            </div>
            <hr class="text-white my-4">
        </div>
    
        <div class="my-8">
            <ul>
                <li>
                    <a
                    routerLink="/dashboard"
                    routerLinkActive="bg-primary"
                    class="block h-[42px] px-4 flex items-center text-white text-lg font-medium rounded-xl hover:bg-[#EBBFBF]"
                    >
                    Dashboard
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/trip"
                    routerLinkActive="bg-primary"
                    class="block h-[42px] px-4 flex items-center text-white text-lg font-medium rounded-xl hover:bg-[#EBBFBF] mt-2"
                    >
                    Viagens
                    </a>
                </li>
                <li>
                    <a
                    routerLink="/schedule"
                    routerLinkActive="bg-primary"
                    class="block h-[42px] px-4 flex items-center text-white text-lg font-medium rounded-xl hover:bg-[#EBBFBF] mt-2"
                    >
                    Roteiros
                    </a>
                </li>
            </ul>
        </div>    
    </div>
    
    <div>
        <hr class="text-white my-4">
        <ul>
            <li>
                <a
                class="block h-[42px] px-4 flex items-center text-white text-lg font-medium rounded-xl hover:bg-[#EBBFBF] mt-2 cursor-pointer"
                (click)="logout()"
                >
                Sair
                </a>
            </li>
        </ul>    
    </div>

</aside>

<div class="w-[80%] ml-[20%]">
    <div class="p-10">
        <router-outlet></router-outlet>
    </div>
</div>

