<section class="flex flex-col justify-center items-center w-full">
    <img src="assets/trekia-orange-logo.png" alt="trekia-orange-logo" class="w-3/6">

    <form class="w-full flex flex-col justify-between">
        <fieldset class="fieldset flex flex-col justify-start w-full">
            <legend class="fieldset-legend text-base text-[#253C59]">Email</legend>
            <input type="email" class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" placeholder="Digite seu email" id="email"/>
        </fieldset>
    
        <fieldset class="fieldset flex flex-col justify-start w-full mt-1">
            <legend class="fieldset-legend text-base text-[#253C59]">Senha</legend>
            <input type="password" class="input w-full bg-white placeholder-[#253C59] text-[#253C59]" placeholder="Digite sua senha" id="senha"/>
        </fieldset>
    
        <button class="btn btn-primary mt-10 px-6 font-medium text-lg" type="submit">Entrar</button>
    </form>
    
    <p class="text-[#253C59] mt-2">Não possui uma conta? <a routerLink="/register" class="text-primary underline">Registrar</a></p>
</section>
