<div class="h-screen bg-cover bg-center bg-no-repeat bg-[url('/assets/background-login-register.png')]">

    <div class="flex justify-center items-center h-screen w-screen">
        <div class="bg-[#F2F0EB] w-5/6 md:w-2/5 xl:w-1/4 rounded-4xl p-10">
                <svg routerLink="/" class="w-10 cursor-pointer" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier"> <path d="M4 12H20M4 12L8 8M4 12L8 16" stroke="#253C59" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
                    </g>
                </svg> 
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
