/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #F07868;
    --color-secondary: #FEA189;
    --color-base-100: #F2F0EB
}